.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:not(:last-child) {
  margin-right: 20px;
}
.red {
  composes: button;
  background-color: red;
}

.blue {
  composes: button;
  background-color: blue;
}

.green {
  composes: button;
  background-color: green;
}
